<h1>Listing stolen_sessions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stolen_sessions.each do |stolen_session| %>
      <tr>
        <td><%= stolen_session.ip_address %></td>
        <td><%= stolen_session.session_id %></td>
        <td><%= link_to 'Show', stolen_session %></td>
        <td><%= link_to 'Edit', edit_stolen_session_path(stolen_session) %></td>
        <td><%= link_to 'Destroy', stolen_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stolen session', new_stolen_session_path %>
